
  @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto:wght@100&display=swap');

body{
    background-color: aqua;
}
h1{
    font-family:'Courier New', Courier, monospace;
    text-align: center;
}
h2{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}