*{
    background:url(https://img.freepik.com/foto-gratis/fondo-textura-hormigon-oscuro_24837-397.jpg?w=900&t=st=1690252627~exp=1690253227~hmac=1d1c5fc0ef5f2a2e9227505140409f38f95e02cf0d7ddeccb262edd8cd68437e);
}


h1{

    font-size: 24px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: aliceblue;

}